/* Resetando margens */
* {
  margin: 0px;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

/* Geral */

body,
html {
  display: flex;
  flex-direction: column;
  background-color: black;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
  padding: 20px;
}

.customColor {
  color: wheat;
}

/* Header */

header {
  padding: 10px;
  text-align: center;
}
/* 
nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

nav > * {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  color: white;
}

nav > *:hover {
  background-color: rgba(185, 166, 166, 0.2);
} */

@media only screen and (max-width: 413px) {
}

/* Corpo principal */

.row {
  margin-top: 5%;
}

.row > * {
  margin: 50px;
}

.customColor div {
  border-left: 5px solid darkblue;
  padding-left: 5px;
}

.infoContainer {
  display: flex;
  min-width: 800px;
  justify-content: space-around;
}

img {
  max-width: 400px;
  height: auto;
}

@media only screen and (max-width: 992px) {
  .col-4 {
    width: auto;
  }

  .customSize {
    width: 100%;
  }
}

ul > * {
  margin: 10px;
}

/* Footer */

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.356);
  text-align: center;
  margin-top: 100px;
  width: 100%;
  padding: 20px;
}

.contactIcons {
  margin-top: 20px;
}

.contactIcons > * {
  margin-left: 10px;
}

#contato span {
  color: wheat;
}
